{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "globals": {
            "window": false,
            "self": false,
            "alert": false,
            "console": false,
            "define": false,
            "require": false,
            "Modernizr": false,
            "Phaser": false,
            "PIXI": false
        },
        "browser": true,
        "curly": true,
        "eqeqeq": true,
        "eqnull": true,
        "esnext": true,
        "immed": true,
        "newcap": true,
        "noarg": true,
        "node": true,
        "quotmark": "single",
        "strict": true,
        "undef": true,
        "unused": true,
        "latedef": true,
        "undef": true,
        "unused": true,
        "trailing": true
    }
}