{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
        "self": false,
        "window": false,
        "document": false,
        "alert": false,
        "console": false,
        "require": false
    },
    "rules": {
        "curly": "error",
        "eqeqeq": "warn",
        "no-eq-null": "warn",
        "no-console": "off",
        "no-inner-declarations": "off",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "wrap-iife": "error",
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "no-undef": "error",
        "no-unused-vars": "error",
        "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "no-trailing-spaces": "warn",
        "no-floating-decimal": "warn"
    }
}